*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerText{
  text-align: center;
}
.centerDiv{
  margin: 0 auto
}

a,a:hover,a:visited{
  color: #888;
  text-decoration: none
}
